/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

.monaco-editor {
  --vscode-editor-background: #120d19 !important;
  --vscode-editorGutter-background: #120d19 !important;
  outline: none !important;
}

body {
  @apply bg-purple-990 text-white;
}

.prose pre {
  background-color: #221931;
  font-size: 14px;
}
