node_modules
dist
*.log
.vscode
.idea
coverage
.DS_Store
*.tsbuildinfo
.cache
fiddle/build/
packages/core/mitosis-build
.history
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
