node_modules
dist
*.log
.vscode/**
!.vscode/extensions.json
!.vscode/settings.json
.idea
coverage
.DS_Store
*.tsbuildinfo
.cache
fiddle/build/
packages/core/mitosis-build
.history
.pnp.*
.eslintcache

# sveltekit tmp files
**/package/__package_types_tmp__/

**/test-results/
**/playwright-report/
