node_modules
dist
*.log
.vscode/**
!.vscode/extensions.json
!.vscode/settings.json
.idea
coverage
.DS_Store
*.tsbuildinfo
.cache
fiddle/build/
packages/core/mitosis-build
.history
.pnp.*
.eslintcache

# ignore everything in .yarn folder, except the .yarn/patches and the .yarn/versions subfolders
.yarn/*
!/.yarn/patches
!/.yarn/versions
!/.yarn/releases

# sveltekit tmp files
**/package/__package_types_tmp__/

**/test-results/
**/playwright-report/

packages/core/src/__tests__/__snapshots__/local.test.ts.snap
