coverage
node_modules
dist
examples
__snapshots__
.*
packages/fiddle/build/**
.yarn
packages/e2e-app/output/**
packages/e2e-app-vue3-output/vue3/src/**
packages/e2e-angular/angular_src/app/lib/**
**/test-results/
**/playwright-report/
**/playwright/.cache/
**/tsconfig.json
