coverage
node_modules
dist
__snapshots__
packages/fiddle/build/**
.yarn
e2e/**/output/src/**
e2e/e2e-app-vue3-output/vue3/src/**
e2e/e2e-angular/angular_src/app/lib/**
e2e/e2e-qwik/server/**
e2e/e2e-app-qwik-output/src/e2e-app/**
e2e/e2e-app-qwik-output/lib/**
**/test-results/
**/playwright-report/
**/playwright/.cache/
# **/tsconfig.json

examples/**/output/**/*
e2e/e2e-app/output/**/src/**/*
e2e/e2e-app/output/**/types/**/*
packages/docs/server

.angular
.next

# ignore the starter package, it is not part of the workspace
# packages/starter/
