coverage
node_modules
dist
examples
__snapshots__
.*
packages/fiddle/build/**
.yarn
packages/e2e-app/output/**
**/test-results/
**/playwright-report/
**/playwright/.cache/
packages/e2e-vue3/src/lib/**
**/tsconfig.json